<footer class="footer">
    <div class="footer-content">
        <p>Suivez-nous sur les réseaux sociaux </p>
        <ul class="social-links">
            <li><a href="#" target="_blank" rel="noopener noreferrer">facebook</a></li>
            <li><a href="#" target="_blank" rel="noopener noreferrer">twitter</a></li>
            <li><a href="#" target="_blank" rel="noopener noreferrer">instagram</a></li>
            <li><a href="#" target="_blank" rel="noopener noreferrer">linkedin</a></li>
        </ul>
    </div>
</footer>
