@use '../../variables' as *;

nav {
    background-color: $black-color;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        margin-right: 1rem;
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;

        li {
            margin: 0 1rem;

            
        }
    }
}
