// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use './app/variables' as *;
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* Global styles for Au Petit Village */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    padding: 2rem;
    min-height: calc(100vh - 165px);
    background-color: $beige-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    color: $red-color;
    margin-bottom: 1vh;
}

p, span, a, li, div, em, button, input, textarea {
    font-family: $text-font;
    margin-bottom: 1vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.social-links {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
}

.social-links li {
    display: flex;
    align-items: center;
}

.social-links mat-icon {
    font-size: 32px;
    color: #4267B2; /* Couleur par défaut pour Facebook */
    transition: color 0.3s;
}

.social-links mat-icon:hover {
    color: #1DA1F2; /* Couleur pour Twitter */
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    background-color: #fff;
}

.product-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}